<div class="d-flex justify-content-between p-3 header">
  <h2>{{page.label}}</h2>
  <div>
    <button class="btn btn-dark" (click)="close()">Zapri</button>
  </div>
</div>

<h1>{{page.url}}</h1>
<app-tabs>
  <app-tab [tabTitle]="'Razlike na strani: ' + pageCount ">
    <div *ngFor="let element of sortedKeys(pageDiffs); index as i">
      <div class="px-3 py-4 element">{{element}}</div>
      <div *ngFor="let diff of pageDiffs[element]; index as j" class="diff-container">
        <app-diff [data]="diff"></app-diff>
      </div>
    </div>
  </app-tab>
  <app-tab [tabTitle]="'Razlike po akcijah: ' + actionCount ">
    <div *ngFor="let element of sortedKeys(actionDiffs); index as i">
      <div class="px-3 py-4 element">{{element}}</div>
      <div *ngFor="let diff of actionDiffs[element]; index as j" class="diff-container">
        <app-diff [data]="diff"></app-diff>
      </div>
    </div>
  </app-tab>
  <app-tab [tabTitle]="'Razlike po obrazcih: ' + formCount ">
    <div *ngFor="let element of sortedKeys(formDiffs); index as i">
      <div class="px-3 py-4 element">{{element}}</div>
      <div *ngFor="let diff of formDiffs[element]; index as j" class="diff-container">
        <app-diff [data]="diff"></app-diff>
      </div>
    </div>
  </app-tab>
</app-tabs>
